<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Seasalt Studio</title>
</head>

<body>
  <div class="main">
    <h2>Simplify the hiring process by showing what you can ACTUALLY do</h2>
    <h2>Showcase your talent</h2>
   <h1> <%= link_to "Sign up", new_user_path(@user), class: "btn btn-success btn-lg" %></h1>
  </div>
  <div class="second">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Simplify</h3>
          <p>One look at your profile, employers know what to expect</p>
          <p><a href="#">Learn more</a></p>
        </div>
        <div class="col-lg-4">
          <h3>Use your favorite social media</h3>
          <p>Twitter, Facebook, Instagram, Flickr. If you already have pictures or videos on one of those sites, all you have to do is to connect them with your profile </p>
          <p><a href="#">From one place</a></p>
        </div>
        <div class="col-lg-4">
          <h3>Public or Private</h3>
          <p>Whether you want other people to see your profile or not, you are in control</p>
          <p><a href="#">Learn about trust at Seasalt</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="first">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h3>Create your profile now, and make some edits later.</h3>
          <h4>And when you are ready, <strong>publish</strong> it for others to see</h4>
        </div>
        <div class="col-lg-3">
          <%= link_to "Create Profile", new_user_path(@user), class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>developed by: Seasalt Studio</p>
        </div>
        <div class="col-md-3">
          <p>Contact: <a href="mailto:someone@example.com"><a>
        </div>
        <div class="col-md-3">
          <%= link_to 'About', stories_path(@story) %>
        </div>
      </div>
    </div>
  </footer>
</body>
