<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Seasalt Dev Hen</title>
</head>

<body>
  <div id="sticky">
    <a href="#">Home</a>
    <a href="#">Stories</a>
    <a href="#">Contact</a>
  </div>
  <div class="main">
    <h2>Got failure?</h2>
    <h4>Most people like to brag about their successes. Not failures. But most successful people learn from failures.</h4>
  </div>
  <div class="first">
    <%= render "form" %>
  </div>
  <div class="second">
    <h3>Recent Stories</h3>

  </div>


</body>
