<div class="storyindex">
  <h2>Your favorite failure stories start here</h2>
</div>

<div class="storyindex2">
<% @stories.each do |story| %>
    <%= story.story %>
    <% end %>
</div>

<%= render "form" %>