<div class="fourth">
  <h2>About Seasalt Studio </h2>


<p> This is a story of a man</p>
</div>
<% @users.each do |user| %>
  <ul>
  <li><%= user.name %></li>
  <%= link_to "Show", user_path(user.id) %>
  <%= link_to "Edit", edit_user_path(user.id) %>
  <%= link_to "Delete", user, :confirm => 'Are you sure?', :method => :remove %>
</ul>
  <% end %>