/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.main {
  background: asset-url("body4.jpg") no-repeat bottom center scroll;
  height: 75%;
  padding: 100px 0px;
  width: 100%;
  text-align: center;
  color: #282828;
  background-color: #388E8E;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.first {
  background: asset-url("body4.jpg") no-repeat bottom center scroll;
  height: 100%;
  padding: 100px 0px;
  width: 100%;
  text-align: center;
  color: #282828;
  background-color: #7171C6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.second {
  background: asset-url("body4.jpg") no-repeat bottom center scroll;
  height: 100%;
  padding: 100px 0px;
  margin-right: 40px;
  width: 100%;
  text-align: center;
  color: #282828;
  background-color: #CD3700;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#sticky{
  position: fixed;
  margin: 0px;
  top: 25px;
  color: #ffffff;
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 2px;
}

#navigation {
  margin: 0px;
  position: fixed;
  top: 0;
  color: #ffffff;
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}

#sticky a {
  font-size: 15px;
  padding-left: 0px;
  padding-right: 30px;
  color: white;
  text-decoration: none;
  margin: 0px;
}

#sticky a:hover {
  color: grey;
}

body {
  padding-top: 150px;
  margin: 0;
  background-color: #FF6103;
}